body{
  background: #F3F3F3;
  color: #1C1B1B;
   font-family: Inter;
   width: auto;
}


.card{
    width: 280px;
    height: 342px;
    border-radius: 12px;
    background: #FFF;
}

.card-img{
    width: 260px;
    height: 134px;
    border-radius: 10px;
    margin-top: 10px;
}

.card-course-name{
    color: #1C1B1B;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-top: -0px;
}

.course.desc{
    color: rgba(28, 27, 27, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-top: -2px;
}

.info{
    display: flex;
    justify-content: space-evenly;
    color: rgba(28, 27, 27, 0.60);
    font-family: Inter;
    font-size: 16px;
    margin-top: -20px;
 }

.card-body{
    padding-left: 10px;
    padding-right: 10px;
}

.card-btn{
    width: 260px;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    background: #2F80ED;
}

.home-container{
    display: flex; 
    gap: -10px;
}

.card-container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.cart{
    /* color: red;
    border: 1px solid red; */

    width: 280px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    
    
}


